<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HASH" value="vQEE6rOjXHEcHM1IHKD+Cw=="/>
    <add key="SvName" value="115.84.183.111"/>
    <add key="SldServer" value="115.84.183.111:40000"/>
    <add key="DbName" value="01_BTG_SAP_LIVEs"/>
    <add key="DbU" value="sa"/>
    <add key="DbP" value="vQEE6rOjXHEcHM1IHKD+Cw=="/>
    <add key="SapU" value="manager"/>
    <add key="SapP" value="lcP7S6Fku6oWM6i8V9oyjQ=="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <connectionStrings>
    <clear />
    <add name="SAPConnection" connectionString="Data Source=115.84.183.111;Initial Catalog=01_BTG_SAP_LIVEs;User ID=sa; Password={0};"/>
    <add name="SAPHanaConnection" connectionString="Data Source=115.84.183.111;Initial Catalog=01_BTG_SAP_LIVEs;User ID=sa; Password={0};"/>
  </connectionStrings>
</configuration>
